<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:mo="https://gitee.com/aun/my">
<head
	th:replace="back/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>

	<fieldset
		class="layui-elem-field layui-field-title layui-card layui-card-body">
		<div class="layui-form  layui-form-pane">
			<form class="layui-form" action="">
				
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">父级菜单</label>
						<div class="layui-input-inline">
							<input type="text" id="parentId" name="parentId" lay-filter="parentId" lay-verify="required" lay-reqtext="父级菜单不能为空" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label required">菜单类型</label>
						<div class="layui-input-inline">
							<select name="type" my:dict="MENU_TYPE" my-empty="请选择类型"></select>
						</div>
					</div>
				</div>
				
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label required">菜单名称</label>
						<div class="layui-input-inline">
							<input type="text" name="name" lay-verify="required" lay-reqtext="菜单名称不能为空"	autocomplete="off" placeholder="请输入菜单名称" class="layui-input">
						</div>
					</div>	
					
					<div class="layui-inline">
						<label class="layui-form-label">菜单标识</label>
						<div class="layui-input-inline">
							<input type="text" name="label" lay-verify="label"
								placeholder="请输入菜单标识" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">URL地址</label>
						<div class="layui-input-inline">
							<input type="text" name="url" 
								placeholder="请输入URL地址" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">icon</label>
						<div class="layui-input-inline">
							<input type="text" name="icon" lay-verify="icon"
								placeholder="请输入icon" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">状态</label>
					<div class="layui-input-block">
						<input type="radio" name="status" value="0" title="启用" checked="">
						<input type="radio" name="status" value="1" title="禁用">
					</div>
				</div>
				

				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">排序数字</label>
						<div class="layui-input-inline">
							<input type="text" name="orderNum" placeholder="请输入排序数字"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
					<label class="layui-form-label">备注</label>
					<div class="layui-input-block">
						<input type="text" name="remark" lay-verify="remark"
								placeholder="请输入备注" autocomplete="off" class="layui-input">
					</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn layui-btn-lg" lay-submit=""
							lay-filter="add">提交</button>
						<button type="reset"
							class="layui-btn layui-btn-lg layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
	</fieldset>
	<script th:replace="back/common/template :: script"></script>
	<script type="text/javascript">
	layui.use([ 'form','layer','treeSelect' ],function() {
		var form = layui.form;
		var layer = layui.layer;
		var treeSelect= layui.treeSelect;
		var $ = layui.$;
					

		treeSelect.render({
				// 选择器
				elem : '#parentId',
				// 数据
				data : 'menu/getSelectParentTree',
				// 异步加载方式：get/post，默认get
				type : 'get',
				// 占位符
				placeholder : '请选择父级菜单',
				// 是否开启搜索功能：true/false，默认false
				search : false,
				// 点击回调
				click : function(data) {
					 $("input[name='parentId']").val(data.current.id);
				},
				// 加载完成后的回调函数
				success : function(data) {
					// var treeObj = treeSelect.zTree('tree');
					//	treeSelect.refresh();
				}
			});

			form.on('submit(add)', function(data) {
				var index = layer.load(2);
				$.ajax({
							type : "POST",
							url : basePath+"/menu/add",
							data : JSON.stringify(data.field),
							contentType : "application/json",
							success : function(result) {
								layer.close(index);
								if (result.code == "0") {
									layer.msg("提交成功");
									var parentIndex = parent.layer
											.getFrameIndex(window.name);
									parent.layer.close(parentIndex);
									window.parent.table.reload("dataList");
									if(data.field.type!=4){
										window.parent.refreshTreeData();
									}
									
								} else {
									layer.msg(result.msg);
								}
							}
						});
				return false;
			});

		});
	</script>
</body>
</html>