<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="back/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>

<fieldset
        class="layui-elem-field layui-field-title layui-card layui-card-body">
    <div class="layui-form  layui-form-pane">
        <form class="layui-form" action="">

            <div class="layui-form-item">
                <label class="layui-form-label required">班级编号</label>
                <div class="layui-input-block">
                    <input type="text" name="classNo" lay-verify="required" lay-reqtext="班级编号不能为空"
                           autocomplete="off" placeholder="请输入班级编号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">班级名称</label>
                <div class="layui-input-block">
                    <input type="text" name="className" lay-verify="required" lay-reqtext="班级名称不能为空"
                           autocomplete="off" placeholder="请输入班级名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-lg" lay-submit=""
                            lay-filter="add">提交</button>
                    <button type="reset"
                            class="layui-btn layui-btn-lg layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<script th:replace="back/common/template :: script"></script>
<script type="text/javascript">
    layui.use(
        [ 'form','layer' ],
        function() {
            let form = layui.form;
            let layer = layui.layer;
            let $ = layui.$;

            form.on('submit(add)', function(data) {
                let index = layer.load(2);
                $.ajax({
                    type: "POST",
                    url: basePath+"/class/add",
                    data: JSON.stringify(data.field),
                    contentType : "application/json",
                    success: function(data){
                        layer.close(index);
                        layer.msg(data.msg);
                        if(data.code === "0") {
                            layer.msg("提交成功");
                            let parentIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(parentIndex);
                            window.parent.table.reload("dataList");
                            window.parent.refreshTreeData();
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
                return false;
            });
        });
</script>
</body>
</html>