<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 日志展示模块 -->
<!-- <th:block th:fragment="log(entity)"> -->
<!--     <table class="layui-table my-detail-table"> -->
<!--         <tbody> -->
<!--         <tr> -->
<!--             <th>操作时间</th> -->
<!--             <th>操作人</th> -->
<!--             <th>日志名称</th> -->
<!--             <th>日志消息</th> -->
<!--         </tr> -->
<!--         <tr th:each="item:${#logs.entityList(entity)}"> -->
<!--             <td th:text="${#dates.format(item.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td> -->
<!--             <td th:text="${item.operName}"></td> -->
<!--             <td th:text="${item.name}"></td> -->
<!--             <td th:text="${item.message}"></td> -->
<!--         </tr> -->
<!--         </tbody> -->
<!--     </table> -->
<!-- </th:block> -->